body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}

img {
    display: block;
    
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: rgb(145, 1, 1) 0px 10px 10px;
}
.disp-img {

}
p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
}
p.no-wrap {
    clear: both;
}

ul{
    list-style-type: none;
    display: block;
    margin-block-start: auto;
text-align: center;}
li{
    margin: 10px;
    padding: 10px;
}
.skills{
    align-items: center;
    text-align: center;
}
